extends blocks/_layout

append content
	-
		var production = [
			{
				name: "Рама боковая",
				fullName: "Рама боковая ч. 1750.00.100СБ с деталью рама боковая тележки вагона ч. 1750.00.102 в соответствии с ГОСТ 32400-2013",
				descr: "Основная деталь тележки грузового вагона. Передает нагрузки на оси тележки через буксы. Рама имеет пояса и колонки, которые в середине образуют проем для центрального рессорного подвешивания, а по концам – буксовые проемы. Сечения наклонных поясов вертикальных колонок корытообразной формы.",
				fullDescr: "Основная деталь тележки грузового вагона. Передает нагрузки на оси тележки через буксы. Рама имеет пояса и колонки, которые в середине образуют проем для центрального рессорного подвешивания, а по концам – буксовые проемы. Сечения наклонных поясов вертикальных колонок корытообразной формы. Горизонтальный участок нижнего пояса имеет замкнутое коробчатое сечение.С февраля 2012 года на мощностях ЧАО «Азовэлектросталь» выпускаются исключительно боковые рамы 1750.00.102 усиленной конструкции, разработанные ООО «ГСКБВ им. В.М. Бубнова», со строгим обеспечением всех свойств в соответствии с действующей нормативной конструкторской документацией по ГОСТ 32400-2013. Боковые рамы усиленной конструкции обладают улучшенными техническими показателями, которые соответствуют деталям для тележки с осевой нагрузкой 25,0 тс. Коэффициент сопротивления усталости составляет 2,27 для осевой нагрузки 23,5 тс и соответственно 2,12 для 25,0 тс, что существенно выше нормативного значения [n]=1,8. Это делает боковую раму малочувствительной к превышению максимально допустимых нагрузок на ось, которые, как показала практика, имели место при эксплуатации продукции.Вышеуказанные показатели подтверждены в 2018 году результатами проведенных статических испытаний опытных образцов в рамках работ по получению сертификатов соответствия требованиям Технического Регламента Таможенного Союза 001/2011 «О безопасности железнодорожного подвижного состава».Кроме того, были введены новации в уникальность конструкции боковой рамы, включая применение технологии заливки не в буксовом проёме, а со стороны рессорного проема, использование марки стали 20 ГФЛ с содержанием ванадия, который повышает коэффициент запаса усталости, наличие усиливающей планки по краям «R-55», увеличение толщины «R-55», ударная вязкость KCV – 60. С 2016 года приемка деталей осуществляется согласно ДСТУ ГОСТ 32400-2016 (ГОСТ 32400-13, IDT), ГОСТ 32400-13.Деталь имеет сертификат соответствия KZ7100990.22.01.00120 технического регламента Таможенного Союза 001/2011 «О безопасности железнодорожного подвижного состава».",
			},
			{
				name: "Балка надрессорная",
				fullName: "Балка надрессорная ч. 1750.00.010СБ с деталью балка надрессорная тележки вагона ч. 1750.00.001 в соответствии с ГОСТ 32400-2013",
				descr: "Одна из деталей конструкции тележки железнодорожного грузового вагона. Служит соединительным звеном между двумя рамами боковыми. Она имеет замкнутое коробчатое сечение и изготавливается вместе с подпятником, опорами для скользунов, выемками для размещения клиньев, буртами, ограничивающими смещение внутренних пружин рессорного комплекта и выступами, удерживающими наружные пружины от смещения при движении тележки.",
				fullDescr: "Одна из деталей конструкции тележки железнодорожного грузового вагона. Служит соединительным звеном между двумя рамами боковыми. Она имеет замкнутое коробчатое сечение и изготавливается вместе с подпятником, опорами для скользунов, выемками для размещения клиньев, буртами, ограничивающими смещение внутренних пружин рессорного комплекта и выступами, удерживающими наружные пружины от смещения при движении тележки.Боковые перемещения балки амортизируются поперечной упругостью пружин, на которые она опирается. Деталь имеет сертификат соответствия KZ7100990.22.01.00121 технического регламента Таможенного Союза 001/2011 «О безопасности железнодорожного подвижного состава»",
			},
			{
				name: "Автосцепка СА-3",
				fullName: "Автосцепка СА-3 для подвижного состава железных дорог ч. 1835.01.000СБ без кронштейна, 1835.01.000-01СБ с нижним кронштейном, 1835.01.000-02СБ с нижним и верхним кронштейном в соответствии с ГОСТ 32885-2014 и ТУ У 35.2-32258888-574:2008",
				descr: "Автоматическое сцепное устройство, применяется на железнодорожном транспорте для сцепления между собой единиц подвижного состава. Автосцепка состоит из корпуса автосцепки и расположенного в нём механизма, тягового устройства с поглощающим аппаратом (пружинами), расцепного привода и ударно-центрирующего прибора. Корпус автосцепки представляет собой пустотелую стальную отливку, в головной части которой размещаются детали механизма",
				fullDescr: "Автоматическое сцепное устройство, применяется на железнодорожном транспорте для сцепления между собой единиц подвижного состава. Автосцепка состоит из корпуса автосцепки и расположенного в нём механизма, тягового устройства с поглощающим аппаратом (пружинами), расцепного привода и ударно-центрирующего прибора. Корпус автосцепки представляет собой пустотелую стальную отливку, в головной части которой размещаются детали механизма. Деталь имеет сертификат соответствия KZ7100990.22.01.00190 технического регламента Таможенного Союза 001/2011 «О безопасности железнодорожного подвижного состава»",
			},
			{
				name: "Хомут тяговой",
				fullName: "Хомут тяговый автосцепного устройства железнодорожного подвижного состава черт.1835.00.001 в соответствии с ГОСТ 22703:2012",
				descr: "Деталь автосцепого устройства вагона и предназначена для передачи растягивающего усилия поглощающему аппарату. Представляет собой стальную отливку, в головной части которой окно для клина и приливы с отверстиями для прохода болтов, поддерживающих клин. Головная часть тягового хомута соединена с его хвостовой частью верхней и нижней полосами. В автосцепном устройстве эти полосы имеют увеличенное поперечное сечение, а вертикальное отверстие в головной части выполнены круглыми для валика.",
				fullDescr: "Деталь автосцепого устройства вагона и предназначена для передачи растягивающего усилия поглощающему аппарату. Представляет собой стальную отливку, в головной части которой окно для клина и приливы с отверстиями для прохода болтов, поддерживающих клин. Головная часть тягового хомута соединена с его хвостовой частью верхней и нижней полосами. В автосцепном устройстве эти полосы имеют увеличенное поперечное сечение, а вертикальное отверстие в головной части выполнены круглыми для валика. Деталь имеет сертификат соответствия ЕАЭС BY/112 02.01.064 00188 технического регламента Таможенного Союза 001/2011 «О безопасности железнодорожного подвижного состава»",
			},
		];

		var sertific =[
			{
				img: '../img/pdf/sert1.jpg',
				name: 'Сертификат соответствия балка надресорная АМ Кастинг ',
			},
			{
				img: '../img/pdf/sert2.jpg',
				name: 'Сертификат соответствия рама боковая АМ Кастинг КЗ ',
			},
			{
				img: '../img/pdf/sert3.jpg',
				name: 'Сертификат соответствия ТРТС Автосцепка АЗОВЭЛЕКТРОСТАЛЬ',
			},
			{
				img: '../img/pdf/sert4.jpg',
				name: 'ТРТС сертификат соответствия Хомут тяговой',
			}
		];

	main.main
		.box
			.main-sections
				.first-section
					.first-section__content
						h1 ООО «Торговый Дом АзовВнешИмпэкс»
						span Является эксклюзивным поставщиком продукции вагонного литья ЧАО «Азовэлектросталь»
							| с сертификатами соответствия технического регламента Таможенного Союза 001/2011
							| «О безопасности железнодорожного подвижного состава» по территории Российской
							| Федерации и отвечает за все действия, связанные с её сбытом.
						span Благодаря наработанным связям с российскими компаниями, наша компания имеет доступ
							| к складам для хранения вагонного литья в различных регионах европейской части России.
						span С 2017 года ЧАО «Азовэлектросталь» выпустило свыше 9 тысяч комплектов крупного вагонного литья,
							| которое поставлялось предприятиям Украины, Белоруссии, Казахстана на вагонное ремонтное депо Псков
							| компании «ВРК-1» для потребностей вагоностроения и ремонта грузовых вагонов.
						span Формы для крупного вагонного литья изготавливаются на автоматической формовочной линии Kuenkel Wagner (Германия).
						button(type="button" class="button") К продукции
				.second-section
					span(class="title-section") Продукция
					.second-section__content
						each item in production
							.production-item
								.production-item__slider
									img(class="production-item__img", src="../img/автосцепка1.jpg", alt=item.name)
									img(class="production-item__img", src="../img/автосцепка2.jpg", alt=item.name)
									img(class="production-item__img", src="../img/автосцепка3.jpg", alt=item.name)
								.production-item__text
									span(class="production-item__name")=item.name
									span(class="production-item__name-full")=item.fullName
									span(class="production-item__descr")=item.descr
									button(type="button" class="button") Больше
				.third-section
					span(class="title-section") Сертификаты
					.third-section__content
						each item in sertific
							a(data-caption=item.name data-fancybox="images" href=item.img)
								img(src=item.img alt=item.name)
